"Package" "Version"
"abind" "1.4-8"
"bayestestR" "0.15.2"
"brew" "1.0-10"
"ca" "0.71.1"
"callr" "3.7.6"
"car" "3.1-3"
"carData" "3.0-5"
"cellranger" "1.1.0"
"collections" "0.3.7"
"commonmark" "1.9.2"
"cowplot" "1.1.3"
"crayon" "1.5.3"
"cyclocomp" "1.1.1"
"datawizard" "1.0.0"
"Deriv" "4.1.6"
"desc" "1.4.3"
"doBy" "4.6.25"
"effectsize" "1.0.0"
"evaluate" "1.0.3"
"Formula" "1.2-5"
"fs" "1.6.5"
"ggeffects" "2.2.0"
"glmulti" "1.0.8"
"gnm" "1.1-5"
"here" "1.0.1"
"highr" "0.11"
"hms" "1.1.3"
"insight" "1.0.2"
"jsonlite" "1.8.9"
"knitr" "1.49"
"languageserver" "0.3.16"
"lazyeval" "0.2.2"
"leaps" "3.2"
"lintr" "3.1.2"
"lme4" "1.1-36"
"lmtest" "0.9-40"
"MatrixModels" "0.5-3"
"mcprofile" "1.0-1"
"microbenchmark" "1.5.0"
"minqa" "1.2.8"
"modelr" "0.1.11"
"mvtnorm" "1.3-3"
"nloptr" "2.1.1"
"parameters" "0.24.1"
"pbkrtest" "0.5.3"
"performance" "0.13.0"
"pkgbuild" "1.4.6"
"pkgload" "1.4.0"
"prettyunits" "1.2.0"
"processx" "3.8.5"
"progress" "1.2.3"
"ps" "1.8.1"
"quadprog" "1.5-8"
"quantreg" "6.00"
"qvcalc" "1.0.4"
"R.cache" "0.16.0"
"R.methodsS3" "1.8.2"
"R.oo" "1.27.0"
"R.utils" "2.12.3"
"rbibutils" "2.3"
"RcppEigen" "0.3.4.0.2"
"Rdpack" "2.6.2"
"readxl" "1.4.3"
"reformulas" "0.4.0"
"relimp" "1.0-5"
"rematch" "2.0.0"
"remotes" "2.5.0"
"rex" "1.2.1"
"rJava" "1.0-11"
"rlang" "1.1.5"
"roxygen2" "7.3.2"
"rprojroot" "2.0.4"
"sjlabelled" "1.2.0"
"sjmisc" "2.8.10"
"sjPlot" "2.8.17"
"sjstats" "0.19.0"
"SparseM" "1.84-2"
"styler" "1.10.3"
"utf8" "1.2.4"
"vcd" "1.4-13"
"vcdExtra" "0.8-5"
"xfun" "0.50"
"xml2" "1.3.6"
"xmlparsedata" "1.0.5"
"yaml" "2.3.10"
"zoo" "1.8-12"
"backports" "1.5.0"
"base" "4.4.2"
"boot" "1.3-31"
"broom" "1.0.7"
"caret" "7.0-1"
"class" "7.3-22"
"cli" "3.6.3"
"clock" "0.7.2"
"cluster" "2.1.6"
"codetools" "0.2-20"
"colorspace" "2.1-1"
"compiler" "4.4.2"
"cpp11" "0.5.1"
"data.table" "1.16.4"
"datasets" "4.4.2"
"diagram" "1.6.5"
"digest" "0.6.37"
"dplyr" "1.1.4"
"e1071" "1.7-16"
"fansi" "1.0.6"
"farver" "2.1.2"
"foreach" "1.5.2"
"foreign" "0.8-87"
"future" "1.34.0"
"future.apply" "1.11.3"
"generics" "0.1.3"
"ggplot2" "3.5.1"
"globals" "0.16.3"
"glue" "1.8.0"
"gower" "1.0.2"
"graphics" "4.4.2"
"grDevices" "4.4.2"
"grid" "4.4.2"
"gtable" "0.3.6"
"hardhat" "1.4.1"
"ipred" "0.9-15"
"isoband" "0.2.7"
"iterators" "1.0.14"
"KernSmooth" "2.23-24"
"labeling" "0.4.3"
"lattice" "0.22-6"
"lava" "1.8.1"
"lifecycle" "1.0.4"
"listenv" "0.9.1"
"lubridate" "1.9.4"
"magrittr" "2.0.3"
"MASS" "7.3-61"
"Matrix" "1.7-1"
"methods" "4.4.2"
"mgcv" "1.9-1"
"ModelMetrics" "1.2.2.2"
"munsell" "0.5.1"
"nlme" "3.1-166"
"nnet" "7.3-19"
"numDeriv" "2016.8-1.1"
"parallel" "4.4.2"
"parallelly" "1.42.0"
"pillar" "1.10.1"
"pkgconfig" "2.0.3"
"plyr" "1.8.9"
"pROC" "1.18.5"
"prodlim" "2024.06.25"
"progressr" "0.15.1"
"proxy" "0.4-27"
"purrr" "1.0.4"
"R6" "2.5.1"
"RColorBrewer" "1.1-3"
"Rcpp" "1.0.14"
"recipes" "1.1.0"
"reshape2" "1.4.4"
"rlang" "1.1.5"
"rpart" "4.1.23"
"scales" "1.3.0"
"shape" "1.4.6.1"
"sparsevctrs" "0.2.0"
"spatial" "7.3-17"
"splines" "4.4.2"
"SQUAREM" "2021.1"
"stats" "4.4.2"
"stats4" "4.4.2"
"stringi" "1.8.4"
"stringr" "1.5.1"
"survival" "3.7-0"
"tcltk" "4.4.2"
"tibble" "3.2.1"
"tidyr" "1.3.1"
"tidyselect" "1.2.1"
"timechange" "0.3.0"
"timeDate" "4041.110"
"tools" "4.4.2"
"translations" "4.4.2"
"tzdb" "0.4.0"
"utf8" "1.2.4"
"utils" "4.4.2"
"vctrs" "0.6.5"
"viridisLite" "0.4.2"
"withr" "3.0.2"
